@use "../../../scss/libs/_variables" as v;
@use "../../../scss/libs/_placeholders";

.root {
  padding: 12px 42px;
  background-color: v.$color01;
  border-radius: 50px;
  border: none;
  @extend %DesktopText21;
  color: v.$color06;
}
