@use "../../scss/libs/__variables" as v;
@use "../../scss/libs/__placeholders" as p;

.root {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;

  // background-color: v.$color05;

  .wrapper {
    width: 100%;
    max-width: 1160px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
